Project_Plagiarism_Detection/.ipynb_checkpoints/*
Project_Plagiarism_Detection/__pycache__/*
Project_Plagiarism_Detection/data.zip
Project_Plagiarism_Detection/data/*
Project_Plagiarism_Detection/notebook_ims/.ipynb_checkpoints/*
Project_Plagiarism_Detection/plagiarism_data/*
Project_Plagiarism_Detection/source_pytorch/.ipynb_checkpoints/*
Project_Plagiarism_Detection/source_sklearn/.ipynb_checkpoints/*
